.comments--container{
  width: 90%;
  display: flex;
  flex-direction: column;
}

.comment--header{
  margin-top: 20px;
  min-height: 50px;
  padding-left: 8%;
}

.comment--container{
  width: 90%;
  display: flex;
  flex-direction: column;
  align-content: center;
  border-bottom: 1px double #C7C7C7;
  margin-left: 8%;
  margin-bottom: 10px;
}

.comment--body{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-grow: 1;
}

.comment--content{
  flex-grow: 1;
  font-family: 'Marck Script';
}

.comment--vote{
  flex-grow: 0.05;
}

.comment--actions--edit, .comment--actions--delete{
  flex-grow: 0.03;
}

.comment--info{
  height: 25px;
  text-align: right;
  flex-grow: 1;
  font-family: 'Caveat'
}

.comment--add--container{
  width: 90%;
  margin-left: 8%;
}

.comment--add{
  height:20px;
}