.comments--container{
  width: 90%;
}

.comment--header{
  margin-top: 20px;
  min-height: 50px;
  padding-left: 8%;
}

.comment--container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.comment--body{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-grow: 1;
  padding-left:8%;
  height: 50px;
  max-height: 60px;
}

.comment--content{
  flex-grow: 1;
  font-family: 'Marck Script';
}

.comment--actions{
  flex-grow: 0.3;
  font-weight: bold;
  font-family: 'Gochi Hand';
}

.comment--info{
  height: 25px;
  text-align: right;
  flex-grow: 1;
  font-family: 'Caveat'
}

.comment--add{
  height:20px;
}