.create--post--container{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.create--post--heading{
  height: 34px;
  line-height: 34px;
  text-align: center;
}

.post--title--general{
  height: 30px;
  margin-bottom: 5px;
}

.post--form--field--general{
  width: 100%;
  border-style: none;
  height: 30px;
  padding-left: 5px;
}

.post--form--field--wrapper{
  width: 70%;
  border-bottom: 1px solid #C7C7C7;
  margin-bottom: 10px;
}

.post--body--field{
  height: 100px;
}

.post--category--field{
  height: 30px;
}