.app--header{
  width:100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  min-height:105px;
  margin-top: 20px;
}

.app--header--general{
  flex-grow: 1;
  flex-basis: 0;
}

.app--header--title{
  text-align: center;
  font-weight: bold;
}

.app--header--content{
  text-align: center;
}