.post--detail--container{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.post--detail{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.post--general{
  min-height: 30px;
  padding: 5px;
}

.post--item--key{
  min-width: 240px;
  max-width: 260px;
  width: 250px;
  flex-basis: 0;
  flex-grow:0.4;
}

.post--item--detail{
  min-width: 540px;
  max-width: 550px;
  width: 560px;
  flex-basis: 0;
  flex-grow:0.6;
}
