.flex--column--class{
  display:flex;
  flex-direction: column;
}

.flex--row--class{
  display:flex;
  flex-direction: row;
}

.posts--container{
  display:flex;
  flex-direction: column;
  align-content:center;
  max-width: 100%;
  margin-top: 50px;
}

.post--container{
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content:space-around;
  min-height: 60px;
}

.post--item{
  word-wrap: break-word;
}

.post--item--a{
  width: 400px;
  max-width: 400px;
}

.arrow--drop--up{
  margin-bottom: -11px;
  margin-top: -5px;
}

.post--item--b{
  width: 100px;
  max-width: 100px;
}

.post--item--c{
  width: 110px;
  max-width: 110px;
  text-align: center;
}

.post--item--d{
  width: 120px;
  max-width: 120px;
}

.post--item--e{
  width: 180px;
  max-width: 180px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.post--item--f{
  width: 110px;
  max-width: 110px;
  text-align: center;
}

.post--headers{
  min-height: 25px;
  min-height: 25px;
  height: 25px;
}

.post--actions{
  flex-grow: 0.2;
}