.post--detail--container{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5%;
}

.post--add--new{
  height: 30px;
  width: 90%;
}

.post--detail{
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.post--detail--first--row{
  min-height: 30px;
}

.post--detail--second--row{
  min-height: 100px;
}

.post--item--vote{
  width: 11%;
}

.post--item--title{
  width: 81%;
  text-align: left;
}

.post--item--body{
  width: 90%;
  text-align: left;
  height: 100px;

}

.post--item--author{
  flex-grow: 1;
}

.post--item--edit, .post--item--delete{
  flex-grow: 0.06;
  min-width: 25px;
  max-width: 25px;
  width: 25px;
}

.post--item--thumb--up--down{
  flex-grow: 0.06;
  min-width: 40px;
  max-width: 40px;
  width: 40px;
}

.post--item--key{
  min-width: 240px;
  max-width: 260px;
  width: 250px;
  flex-basis: 0;
  flex-grow:0.4;
}

.post--item--detail{
  min-width: 540px;
  max-width: 550px;
  width: 560px;
  flex-basis: 0;
  flex-grow:0.6;
}