.flex--column--class{
  display:flex;
  flex-direction: column;
}

.flex--row--class{
  display:flex;
  flex-direction: row;
}

.posts--container{
  display:flex;
  flex-direction: column;
  align-content:center;
  max-width: 100%;
  margin-top: 50px;
}

.post--container{
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content:space-around;
  min-height: 60px;
}

.post--item{
  word-wrap: break-word;
}

.post--item--a{
  width: 400px;
  max-width: 400px;
}

.arrow--drop--up{
  margin-bottom: -11px;
  margin-top: -5px;
}

.arrow--drop--down{

}

.post--item--b{
  width: 140px;
  max-width: 140px;
}

.post--item--c{
  width: 140px;
  max-width: 140px;
}

.post--headers{
  min-height: 50px;
}

.post--actions{
  flex-grow: 0.2;
}